<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href ="styles.css"></link>
    <script src="" defer></script>
    <title>About Us</title>
</head>
<body>
    <div class="crossfade">
        <img src="img/1.jpeg"/>
        <img src="img/2.jpeg"/>
        <img src="img/3.jpeg"/>
        <img src="img/1.jpeg"/>
        <div class="center-text">ABOUT US</div>
        <div class="triangle"></div>
    </div>
    <div class="content">
        <div class="team-pict">
            <img src="test4.jpg"/>
        </div>
        <div class="description">
            nuiesafbkibgcfysfgknagfkyacbooiacyunaohbcikfabioigcabgaingkyudsscadadafbahkbvdfahjkvdfjkagvfekyaegfukaegfukeagik
        </div>
        <div class="division">
            <h1 style="text-align:center; padding-bottom:3vh ;">IoT Platform Development</h1>
            <div class="container2">
                <div class="container3">
                    <div class="box">
                        <div class="nameplate">Eduardo Trevis Angky</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2024</div>
                        <a href="https://www.linkedin.com/in/eduardo-trevis-angky-03a150229/">
                            <span class="link"></span>
                        </a>
                    </div>
                    <div class="box">
                        <div class="nameplate">Edgar Yurianto</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2024</div>
                        <a href="https://www.linkedin.com/in/edgar-yurianto-7293b51b6/">
                            <span class="link"></span>
                        </a>
                    </div>
                </div>
                <P></P>
                <div class="container3">
                    <div class="box">
                        <div class="nameplate">Felix Natanael</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2024</div>
                        <a href="www.linkedin.com/in/felix-natanael-066627225">
                            <span class="link"></span>
                        </a>
                    </div>
                    <div class="box">
                        <div class="nameplate">Antonius Gregorius Deaven Rivaldi</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2023</div>
                        <a href="https://www.linkedin.com/in/deavenrivaldi/">
                            <span class="link"></span>
                        </a>
                    </div>
                </div>
                <p></p>
                <div class="container3">
                    <div class="box">
                        <div class="nameplate">Julius Felix Chrysdi Aten</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2022</div>
                            <a href="https://www.linkedin.com/in/julius-felix">
                        <span class="link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <p></p>

            <h1 style="text-align:center; padding-bottom:3vh ;">Hardware Development</h1>
            <div class="container2">
                <div class="container3">
                    <div class="box">
                        <div class="nameplate">Stephen Fongar</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2024</div>
                        <a href="https://www.linkedin.com/in/stephen-fongar-a8083a1a5/">
                            <span class="link"></span>
                        </a>
                    </div>
                    <div class="box">
                        <div class="nameplate">Nicholas Sanjaya</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2023</div>
                        <a href="https://www.linkedin.com/in/nicholas-sanjaya-ab1230234">
                            <span class="link"></span>
                        </a>
                    </div>
                </div>
                <P></P>
                <div class="container3">
                    <div class="box">
                        <div class="nameplate">Matthew Axel Effan</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2024</div>
                        <a href="https://www.linkedin.com/in/matthew-effan-099378237">
                            <span class="link"></span>
                        </a>
                    </div>
                    <div class="box">
                        <div class="nameplate">Daffeyd Wilbert Limardi</div>
                        <img src="instagram@512px.png" class="icon"/>
                        <div class="year">2025</div>
                        <a href="https://www.instagram.com/daffeydwilbert/">
                            <span class="link"></span>
                        </a>
                    </div>
                </div>
                <p></p>
                <div class="container3">
                    <div class="box">
                        <div class="nameplate">Richard Medyanto</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2023</div>
                        <a href="https://www.linkedin.com/in/richard-medyanto-a1ab3b90">
                            <span class="link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <p></p>

            <h1 style="text-align:center; padding-bottom:3vh ;">Web and Hardware Design</h1>
            <div class="container2">
                <div class="container3">
                    <div class="box">
                        <div class="nameplate">Bernardinus Kevin Deo Powelong</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2024</div>
                        <a href="https://www.linkedin.com/in/kevin-deo-118588238">
                            <span class="link"></span>
                        </a>
                    </div>
                    <div class="box">
                        <div class="nameplate">Axel Julian Sutanto</div>
                        <img src="instagram@512px.png" class="icon"/>
                        <div class="year">2025</div>
                        <a href="https://www.instagram.com/jsaxel/">
                            <span class="link"></span>
                        </a>
                    </div>
                </div>
                <P></P>
                <div class="container3">
                    <div class="box">
                        <div class="nameplate">Billy Hermanto</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2023</div>
                        <a href="https://www.linkedin.com/in/billy-hermanto-b622b515a">
                            <span class="link"></span>
                        </a>
                    </div>
                    <div class="box">
                        <div class="nameplate">Jennifer Luvindi</div>
                        <img src="instagram@512px.png" class="icon"/>
                        <div class="year">2025</div>
                        <a href="https://www.instagram.com/jenniferluvindi/">
                            <span class="link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <p></p>

            <h1 style="text-align:center;">Supervisor</h1>
            <div class="container2">
                <div class="container3">
                    <div class="box">
                        <div class="nameplate">Muhammad Zacky Asyari</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2024</div>
                        <a href="">
                            <span class="link"></span>
                        </a>
                    </div>
                    <div class="box">
                        <div class="nameplate">Dr. Eng Ir. Zener Sukra Lie, S.T., M.T.</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2024</div>
                        <a href="">
                            <span class="link"></span>
                        </a>
                    </div>
                </div>
                <P></P>
                <div class="container3">
                    <div class="box">
                        <div class="nameplate">Winda Astuti</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2024</div>
                        <a href="">
                            <span class="link"></span>
                        </a>
                    </div>
                    <div class="box">
                        <div class="nameplate">Gatot Suharjanto</div>
                        <img src="linkedin@512px.png" class="icon"/>
                        <div class="year">2024</div>
                        <a href="">
                            <span class="link"></span>
                        </a>
                    </div>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>